@import '../assets/style/main.scss';

.optionBody {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
}

.option-content {
  width: 35%;
  height: 100%;
  font-size: 1rem;
  margin: 0 auto;
  color: var(--text-color);


  .item-content {
    width: 100%;
    padding: 8px 20px;
    margin-top: 10px;
    border-radius: 6px;
    background-color: var(--component-bg-color);
  }

  .theme-content {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .theme-item {
      height: 90px;
      width: 130px;
      overflow: hidden;
      cursor: pointer;
      border-radius: 10px;
      border: 2px solid var(--component-bg-color);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .active {
      border: 2px solid #4096ff;
    }
  }

  .engine-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &>:last-child {
      width: 200px;
    }
  }
}