// $--st-c-white: #ffffff;
// $--st-c-white-soft: #f8f8f8;
// $--st-c-white-mute: #f2f2f2;
// $--st-c-white-bg-rgba: rgba(255, 255, 255, 0.55);

// $--st-c-text-primary-white: #E5EAF3;
// $--st-c-text-regular-white: #CFD3DA;
// $--st-c-text-secondary-white: #A3A6AD;

// $--st-c-border-white: #dcdfe6;
// $--st-c-border-lighter-white: #ebeef5;
// $--st-c-brand-white: #ecf5ff;


// $--st-c-black: #000000;
// $--st-c-black-mid: #141414;
// $--st-c-black-soft: #222222;
// $--st-c-black-mute: #282828;
// $--st-c-black-bg-rgba: rgba(0, 0, 0, 0.55);

// $--st-c-text-primary-black: #303133;
// $--st-c-text-regular-black: #606266;
// $--st-c-text-secondary-black: #909399;

// $--st-c-border-black: #4C4D4F;
// $--st-c-border-lighter-black: #363637;
// $--st-c-brand-black: #18222c;



// $--st-c-button-light: #409eff;
// $--st-c-button-dart: #337ecc;

// $--st-c-divider-light-1: rgba(60, 60, 60, 0.29);
// $--st-c-divider-light-2: rgba(60, 60, 60, 0.12);
// $--st-c-divider-dark-1: rgba(84, 84, 84, 0.65);
// $--st-c-divider-dark-2: rgba(84, 84, 84, 0.48);

// $--st-c-text-light-1: var(--vt-c-indigo);
// $--st-c-text-light-2: rgba(60, 60, 60, 0.66);
// $--st-c-text-dark-1: var(--vt-c-white);
// $--st-c-text-dark-2: rgba(235, 235, 235, 0.836);

// $--st-c-prefix-text-light-1: #ff0000;
// $--st-c-prefix-text-light-2: #ffff00;
// $--st-c-prefix-text-dart-1: #8f41e9;
// $--st-c-prefix-text-dart-2: #578aef;

:root {
  --st-c-white: #ffffff;
  --st-c-white-soft: #f8f8f8;
  --st-c-white-mute: #f2f2f2;
  --st-c-white-bg-rgba: rgba(255, 255, 255, 0.55);
  --st-c-text-primary-white: #E5EAF3;
  --st-c-text-regular-white: #CFD3DA;
  --st-c-text-secondary-white: #A3A6AD;
  --st-c-border-white: #dcdfe6;
  --st-c-border-lighter-white: #ebeef5;
  --st-c-brand-white: #ecf5ff;
  --st-c-hover-bg-white: rgba(240, 248, 255, 0.712);
  --st-c-clock-white: rgba(255,255,255, 0.8);

  --st-c-black: #000000;
  --st-c-black-mid: #141414;
  --st-c-black-soft: #222222;
  --st-c-black-mute: #282828;
  --st-c-black-bg-rgba: rgba(0, 0, 0, 0.75);
  --st-c-text-primary-black: #303133;
  --st-c-text-regular-black: #606266;
  --st-c-text-secondary-black: #545557;
  --st-c-border-black: #4C4D4F;
  --st-c-border-lighter-black: #363637;
  --st-c-brand-black: #18222c;
  --st-c-hover-bg-black: rgba(240, 248, 255, 0.412);
  --st-c-clock-black: rgba(0,0,0, 0.75);



  --st-c-component-bg-color-black: rgb(41, 42, 45);
  --st-c-component-bg-color-white: #f5f5f5;
}
// :root {
//   --vt-c-white: #ffffffa4;
//   --vt-c-white-soft: #f8f8f8;
//   --vt-c-white-mute: #f2f2f2;

//   --vt-c-black: #181818d2;
//   --vt-c-black-soft: #222222;
//   --vt-c-black-mute: #282828;

//   --vt-c-indigo: #19232cdc;

//   --vt-c-button-light: #409eff;
//   --vt-c-button-dart: #337ecc;

//   --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
//   --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
//   --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
//   --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

//   --vt-c-text-light-1: var(--vt-c-indigo);
//   --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
//   --vt-c-text-dark-1: var(--vt-c-white);
//   --vt-c-text-dark-2: rgba(235, 235, 235, 0.836);

//   /* --vt-c-prefix-text-light-1: #c13d07;
//   --vt-c-prefix-text-light-2: #cb2d84; */
//   --vt-c-prefix-text-light-1: #ff0000;
//   --vt-c-prefix-text-light-2: #ffff00;
//   --vt-c-prefix-text-dart-1: #8f41e9;
//   --vt-c-prefix-text-dart-2: #578aef;
// }

// /* semantic color variables for this project */
// :root {
//   --color-background: var(--vt-c-white);
//   --color-background-soft: var(--vt-c-white-soft);
//   --color-background-mute: var(--vt-c-white-mute);

//   --color-border: var(--vt-c-divider-light-2);
//   --color-border-hover: var(--vt-c-divider-light-1);

//   --color-button: var(--vt-c-button-light);
//   --color-placeholder: var(--vt-c-text-light-1);
//   --color-heading: var(--vt-c-text-light-1);
//   --color-text: var(--vt-c-text-light-1);

//   --color-prefix: linear-gradient(to right,
//       var(--vt-c-prefix-text-light-1),
//       var(--vt-c-prefix-text-light-2));
//   --color-prefix-border: linear-gradient(to bottom,
//       var(--vt-c-prefix-text-light-1),
//       var(--vt-c-prefix-text-light-2));

//   --section-gap: 160px;
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --color-background: var(--vt-c-black);
//     --color-background-soft: var(--vt-c-black-soft);
//     --color-background-mute: var(--vt-c-black-mute);

//     --color-border: var(--vt-c-divider-dark-2);
//     --color-border-hover: var(--vt-c-divider-dark-1);

//     --color-button: var(--vt-c-button-dart);
//     --color-placeholder: var(--vt-c-white);
//     --color-heading: var(--vt-c-text-dark-1);
//     --color-text: var(--vt-c-text-dark-2);

//     --color-prefix: linear-gradient(to right,
//         var(--vt-c-prefix-text-dart-1),
//         var(--vt-c-prefix-text-dart-2));
//     --color-prefix-border: linear-gradient(to bottom,
//         var(--vt-c-prefix-text-dart-1),
//         var(--vt-c-prefix-text-dart-2));
//   }
// }